html, body {
	font-family: 'Varela Round', sans-serif;
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #fff;
}

.text-underline {
	text-decoration: underline;
}

button {
	font-size: 1.2em;
	background-color: #2d6b66;
	color: #fff;
	padding: 20px 25px;
	border: 0;
	cursor: pointer;
	border-radius: 4px;
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 3.5em;
	margin: 0;
}

h2 {
	font-size: 2.8em;
	margin: 0;
}

h3 {
	font-size: 3em;
	margin: 0;
}

h4 {
	font-size: 1.5em;
	margin: 0;
}

img {
	max-width: 100%;
}

@media (max-width: 900px) {
	html, body {
		font-size: 14px;
	}
	
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.35em;
	}
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

main .overlay {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
}


main .bg-image {
	background-size: cover;
	background-position: top left;
	background-image: url("/images/1920/camping-site.jpg");
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

main nav {
	flex: 1 0 30%;
	max-width: 30%;
	position: relative;
	z-index: 2;
}

main .viewport {
	flex: 1 0 70%;
	max-width: 70%;
	position: relative;
	z-index: 2;
	overflow: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 100vh;
	align-items: center;
	scroll-behavior: smooth;
}

main .viewport > section {
	flex: 0 1 auto;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

main .viewport > section > *{
	flex: 1 0 100%;
	max-width: 100%;
}

@media (max-width: 1344px) {
	main .viewport {
		flex: 1 0 100%;
		max-width: 100%;
	}

	main nav {
		flex: 1 0 100%;
		max-width: 100%;
		z-index: 3;
	}
}

.hero {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 100vh;
}

.hero h4 {
	margin-top: 18px;
}


.hero img {
	max-width: 250px;
}

.hero button {
	margin-top: 25px;
	box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4);
}

.hero .copy {
	position: relative;
	z-index: 3;
}

@media (max-width: 1344px) {
	.main .bg-image {
		background-image: url("/images/1344/camp-site.jpg");
	}

	.hero img {
		max-width: 180px;
	}
}

@media (max-width: 640px) {
	.hero .bg-image {
		background-image: url("/images/640/camp-site.jpg");
	}
}

.about {
	overflow: hidden;
}

.about .copy {
	padding: 0 20px;
	text-align: center;
}

.about .copy h4 {
	margin-top: 15px;
}

.about .copy * {
	position: relative;
}

.about .content > div {
	justify-content: center;
	display: flex;
}

.about .images {
	display: flex;
	flex-wrap: wrap;
}

.about .images .list {
	margin: 0 15px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px;
	flex-wrap: wrap;
	overflow: hidden;
}

.about .images .list > div {
	position: relative;
	margin: 5px;
	flex: 1 0 calc(33.33% - 10px);
	max-width: calc(33.33% - 10px);
	overflow: hidden;
	box-shadow: 0em 0em 0.3em rgba(255, 255, 255, 0.7);
}

.about .images .list > div img:hover {
	transform: scale(1.15);
}

.about .images .list > div img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

@media (max-width: 1344px) {
	.about .images .list > div {
		flex: 1 0 calc(50% - 10px);
		max-width: calc(50% - 10px);
	}
	.about {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
	}

	.about .copy {
		flex: 1 0 100%;
		padding: 0;
		flex-wrap: wrap;
		max-width: 100%;
		margin-bottom: 20px;
	}

	.about .images {
		flex: 1 0 100%;
	}

	.about .copy > div {
		/* max-width: 700px; */
		padding: 0 20px;
	}
}

.gallery * {
	position: relative;
}

.gallery {
	text-align: center;
	color: #fff;
	overflow: hidden;
}

.gallery

.gallery h4 {
	margin-top: 15px;
}

.gallery .content .images {
	order: 1;
}

.gallery .content .copy {
	order: 2;
	padding: 0 20px;
}

.gallery .content {
	align-items: center;
	flex-wrap: wrap;
	padding: 0 20px;
}

.gallery .images .slides img:hover {
	transform: scale(1.15);
}
.gallery .images .slides img {
	display: block;
	max-width: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
	max-height: 500px;
}
.gallery .images .slides .slick-slide {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;

}
.gallery .images .slides-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 0 20px;
}
.gallery .images .slides-nav .slick-slide {
	max-height: 69px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.gallery .slides-nav .fa-chevron-left {
	left: -8px;
	cursor: pointer;
}

.gallery .slides-nav .fa-chevron-right {
	right: -8px;
	cursor: pointer;
}

.gallery .slides-nav .fa-chevron-left:hover {
	transition: 0.3s;
	left: -12px;
}

.gallery .slides-nav .fa-chevron-right:hover {
	transition: 0.3s;
	right: -12px;
}

@media (max-width: 1344px) {
	.gallery {
		/* margin-top: 50px; */
		padding: 50px 20px;
	}
	
	.gallery .content>div {
		flex: 1 0 100%;
		max-width: 100%;
	}

	.gallery .content .images {
		order: 2;
		margin-top: 20px;
	}

	.gallery .content .copy {
		order: 1;
	}
}

.rates {
	padding: 0 20px;
	text-align: center;
	overflow: hidden;
}

.rates * {
	position: relative;
}

.rates  h4 {
	margin-top: 15px;
}

.rates .prices {
	display: flex;
	align-items: center;
}

.rates .prices .slick-slide img {
	margin: 0 auto;
}

.rates .fa-chevron-left {
	left: -8px;
	cursor: pointer;
	font-size: 3em;
}

.rates .fa-chevron-right {
	right: -8px;
	cursor: pointer;
		font-size: 3em;
}

.rates .fa-chevron-left:hover {
	transition: 0.3s;
	left: -12px;
}

.rates .fa-chevron-right:hover {
	transition: 0.3s;
	right: -12px;
}

.rates .prices .slick-slide {
	color: #2d6b66;
	text-align: left;
	background: #fff;
	border-radius: 2px;
	padding: 20px; 
	margin: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.rates .prices .price p {
	margin: 0;
}

.rates .prices .price .name {
	font-size: 1.3em;
}

@media (max-width: 1344px) {
	#rates .content .copy,
	#rates .content .prices {
		flex: 1 0 100%;
		max-width: 100%;
	}

	#rates .content .prices {
		margin-top: 20px;
	}
}


@media (max-width: 640px) {
	.rates {
		padding: 50px 20px;
	}

	.rates .prices .price {
		display: block;
	}

	.rates .fa-chevron-left {
		font-size: 1.5em;
	}

	.rates .fa-chevron-right {
		font-size: 1.5em;
	}

	.rates .prices .slick-slide {
		margin: 0.5em;
	}
}

.promos-events {
	padding: 0 20px;
	text-align: center;
	overflow: hidden;
}

.promos-events * {
	position: relative;
}

.promos-events  h4 {
	margin-top: 15px;
}

.promos-events .list {
	display: flex;
	align-items: center;
}

.promos-events .list .slick-slide img {
	margin: 0 auto;
}

.promos-events .fa-chevron-left {
	left: -8px;
	cursor: pointer;
	font-size: 3em;
}

.promos-events .fa-chevron-right {
	right: -8px;
	cursor: pointer;
		font-size: 3em;
}

.promos-events .fa-chevron-left:hover {
	transition: 0.3s;
	left: -12px;
}

.promos-events .fa-chevron-right:hover {
	transition: 0.3s;
	right: -12px;
}

.promos-events .list .slick-slide {
	color: #2d6b66;
	text-align: left;
	background: #fff;
	border-radius: 2px;
	padding: 20px; 
	margin: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.promos-events .list .price p {
	margin: 0;
}

.promos-events .list .price .name {
	font-size: 1.3em;
}

@media (max-width: 1344px) {
	#promos-events .content .copy,
	#promos-events .content .list {
		flex: 1 0 100%;
		max-width: 100%;
	}

	#promos-events .content .list {
		margin-top: 20px;
	}
}


@media (max-width: 640px) {
	.promos-events {
		padding: 50px 20px;
	}

	.promos-events .list .price {
		display: block;
	}

	.promos-events .fa-chevron-left {
		font-size: 1.5em;
	}

	.promos-events .fa-chevron-right {
		font-size: 1.5em;
	}

	.promos-events .list .slick-slide {
		margin: 0.5em;
	}
}

.contact a {
	color: #fff;
	text-decoration: underline;
}

.contact {
	padding: 100px 20px;
	color: #fff;
	overflow: hidden;
}

.contact h2 {
	text-align: center;
	margin-bottom: 50px;
}

.contact > div {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.contact > div > div {
	flex: 1 0 50%;
	max-width: 50%;
}

.contact .content {
	padding-right: 30px;
}

.contact * {
	position: relative;
}

.contact .content > div:first-child {
	margin-bottom: 50px;
}

.contact .mapouter {
	flex: 1 0 100%;
	max-width: 100%;
	text-align:right;
	height:450;
	width:100%;
}

.contact .mapouter .gmap_canvas {
	flex: 1 0 100%;
	max-width: 100%;
	overflow:hidden;
	background:none!important;
	height:450;
	width:100%;
}

@media (max-width: 640px) {
	.contact > div {
		justify-content: flex-start;
	}

	.contact > div > div {
		flex: 1 0 100%;
		max-width: 100%;
	}

	.contact .details {
		margin-top: 50px;
	}
}

nav .logo {
	max-width: 200px;
	margin: 0 auto;
	display: none;
}

nav button {
	position: fixed;
	opacity: 0.5;
	top: 25px;
	right: 25px;
	padding: 16px;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 3;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav .navigation .items {
	border-right: 1px solid #fff;
	padding: 40px;
}

nav .navigation button {
	position: absolute;
	display: none;
	opacity: 1;
}

nav .navigation {
	position: relative;
	width: 100%;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 5;
	overflow: hidden;
}

nav .navigation ul {
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: bold;
}

nav .navigation ul li {
	margin-bottom: 15px;
	cursor: pointer;
}
nav .navigation ul li:after {
	content: '';
	width: 0px;
	height: 2px;
	display: block;
	background: #fff;
	transition: 300ms;
	margin-top: 3px;
}
nav .navigation ul li:hover:after {
	width: 100%;
}

@media (max-width: 1344px) {
	nav button,
	nav .navigation button {
		display: flex;
	}

	nav .navigation {
		position: fixed;
		background-color: #fff;
		color: #2d6b66;
		right: -200%;
		top: 0;
	    box-shadow: -0.5em 0em 0.5em rgba(255, 255, 255, 0.4);
	    width: 320px;
	}

	nav .navigation .items {
		border: 0;
	}

	nav .navigation ul li:after {
		background: #2d6b66;
	}
}

@media (max-width: 640px) {
	nav .logo {
		display: inline-block;
	}

	nav .navigation {
		width: 100%;
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
}

.loader #dots{
  position:relative;
  margin:0;
  height:175px;
  width: 329px;
}

#dots .dot{
  width:27px;
  height:27px;
  margin:0;
  padding:0;
  display:block;
  border-radius:50%;
  position:absolute;
  top:66px;
  left:0px;
}

#dots .blue{
  background-color:#3284FF;
  left:73px;
}

#dots .red{
  background-color:#FF3424;
  left:126px;
}

#dots .yellow{
  background-color:#FFBB00;
 left:179px;
}

#dots .green{
  background-color:#26B14C;
  left:233px;
}

#promo-popup {
	display: none;
	color: #2d6b66;
	text-align: center;
	padding: 25px;
}

#promo-popup h2 {
	margin-bottom: 10px;
}

#promo-popup h4 {
	margin-bottom: 15px;
}

#promo-popup .content {
    max-width: 600px;
    margin: 0 auto;
}